[mcu nevermore]

[board_pins nevermore]
mcu: nevermore
aliases:
    NEO=PD3,
    SERVO=PD0,
    UV=PA1,
    PELTIER=PD3,
aliases_thermistor:
    TH1=PA3,
    TH2=PA4,
    TH3=PA5,
    TH_PCB=PA2,
aliases_fan:
    FAN_PWM=PB14,
    FAN_RPM=PB15,
aliases_sensors1:
    # i2c_bus: i2c1_PB8_PB9
    I2C1_SCL=PB8,
    I2C1_SDA=PB9.
aliases_sensors2:
    # i2c_bus: i2c2_PB10_PB11
    I2C2_SCL=PB10,
    I2C2_SDA=PB11,

[temperature_sensor _nevermore]
sensor_type: temperature_mcu
sensor_mcu: nevermore

